@import "fonts";
@import "mq";
@import "general";

$gs-gutter: 20px;
$gs-baseline: 12px;

$c-highlight: #fb0;
$c-background: #000;
$c-foreground: #000;

$egyptian: "Guardian Egyptian Web","Egyptian Display",Georgia, serif;
$text-egyptian: "Guardian Text Egyptian Web","Egyptian Text",Georgia,serif;
$sans: "Guardian Text Sans Web", "Guardian Agate Sans 1 Web",sans-serif;
$text-sans: "Guardian Text Sans Web", "Guardian Agate Sans 1 Web",sans-serif;

body, html {
	margin: 0;
	padding: 0;
	background-color: $c-foreground;
	  overflow-y: hidden;
}

figure.element-interactive {
	margin: 0;
	padding: 0;

	* {
		box-sizing: border-box;
	}
}

.top-banner-ad-container {
	display: none !important;
}

#loading-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	color: #d1d1d1;

	span {
		margin: auto;
		width: 100%;
		display: block;
		text-align: center;
		top: 0;
		bottom: 0;
		position: absolute;
		height: 24px;
		font-size: 24px;
	}
}

#video-wrapper {
	overflow: hidden;
	// overflow-x: scroll;
	width: 100%;
	position: relative;
	margin: auto;
	height: 500px;
	// border-bottom: 3px solid $c-highlight;

	&:hover {
		cursor: pointer;
		.play-button {
			background-color: $c-highlight;

			span {
				&::after {
					border-color: transparent transparent transparent #333;
				}
			}
		}
	}
}

#video-wrapper[ended]:hover .play-button {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGZpbGw9IiMzMzMiIGQ9Ik0yNCAxMFYyTDE0IDEybDEwIDEwdi04YzYuNjMgMCAxMiA1LjM3IDEyIDEycy01LjM3IDEyLTEyIDEyLTEyLTUuMzctMTItMTJIOGMwIDguODQgNy4xNiAxNiAxNiAxNnMxNi03LjE2IDE2LTE2LTcuMTYtMTYtMTYtMTZ6Ii8+PC9zdmc+);
}

.video-wrapper__videos {
	width: 10000px;
	overflow: hidden;
	transform: translate(0);
	// transition: transform 0.3s ease-in-out;

	video {
		float: left;
		display: inline;
		transition: -webkit-filter 1s ease-in-out;
	}
}

.int-main {
	margin: auto;
	width: 100%;
	position: relative;
	overflow: hidden;

	// @include mq(tablet) {
	// 	width: 740px;
	// }

	// @include mq(desktop) {
	// 	width: 980px;
	// }

	// @include mq(leftCol) {
	// 	width: 1140px;
	// }

	// @include mq(wide) {
	// 	width: 1300px;
	// }
}


#explainer-area {
	width: 100%;
	color: #fff;
	padding: 24px 20px;

	* {
		max-width: 600px;
	}

	h1 {
		font-size: 72px;
		line-height: 64px;
		font-weight: 300;
		font-family: $egyptian;
		color: $c-highlight;
	}

	h2 {
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		font-family: $egyptian;
		margin-top: 12px;
		margin-bottom: 24px;
	}

	p {
		margin-top: 6px;
		max-width: 600px;
	}

	button {
		margin-top: 24px;
	}
}

#explainer-teaser {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	overflow: hidden;
	z-index: 10;
	transition: opacity 0.3s ease-in-out;

	#explainer-teaser--inner {
		position: absolute;
		color: #fff;
		bottom: -180px;
		width: 100%;
		height: 300px;
		font-family: $egyptian;
		padding: 10px 20px;
		padding-right: 0;
		transition: bottom 0.5s ease-in-out, background-color 0.3s ease-in-out;

		width: 500px;
		right: calc(50% - 25px);
		left: initial;

		@include mq($until: desktop) {
			bottom: -200px; 
		}

		// background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		// background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		// background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		// background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		// background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

		* {
			max-width: 620px;
		}

		&.hidden {
			bottom: -300px !important;
		}

		&:hover {
			.int-button-up {
				fill: #333;
				background-color: $c-highlight;
			}
		}

		// &:hover {
		// 	h1 {
		// 		border-bottom: 2px solid #fb0;
		// 	}
		// }
	}

	&.show-explainer {
		#explainer-teaser--inner {
			bottom: 24% !important;
		}

		h1,h2,hr,p,.share-buttons {
			opacity: 1;
		}

		h1 {
			transition-delay: 0.6s;
		}

		h2 {
			transition-delay: 0.3s;
		}

		p {
			transition-delay: 0.9s;
		}

		.share-buttons {
			transition-delay: 1.2s;
		}

		.explainer-tease {
			opacity: 0;
		}
	}

	h1 {
		font-size: 30px;
		line-height: 32px;
		opacity: 1;
		font-weight: 700;
		vertical-align: bottom;
		display: inline;
		color: #fff;
		padding-bottom: 6px;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		transition-delay: 0s;

	}

	hr {
		width: 100px;
		border: 0;
		margin: 0;
		margin-top: 12px;
		margin-bottom: 1px;
		padding-bottom: 4px;
		border-top: 1px solid $c-highlight;
		opacity: 0;
	}

	h2 {
		font-size: 30px;
		line-height: 32px;
		margin-top: 5px;
		color: rgba(255,255,255,0.9);
		font-weight: 300;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		transition-delay: 0s

	}

	p {
		opacity: 0;
		font-size: 16px;
		line-height: 22px;
		margin-top: 24px;
		transition: opacity 0.3s ease-in-out;
		transition-delay: 0s;
		padding-right: 70px;

	}

	.explainer-tease {
		position: absolute;
		right: 58px;
		padding-top: 6px;
		padding-right: 10px;
		font-family: $egyptian;
		font-size: 30px;
		opacity: 1;
		font-weight: 700;
		transition: opacity 0.3s ease-in-out;
	}

	button {
		margin-top: 12px;
	}
}

button {
	display: inline-block;
	vertical-align: top;
	width: auto;
	text-decoration: none;
	font-size: 0.8125rem;

	height: 1.875rem;
	padding: 0 0.625rem;
	margin-right: 0.625rem;
	line-height: 1.75rem;

	color: $c-foreground;
	border-radius: 100px;
	border: 0;
	background-color: $c-highlight;
	font-size: 14px;
	font-weight: bold;
	font-family: $text-sans;

	&:hover {
		background-color: darken($c-highlight, 10%);
	}
}

.faded {
	-webkit-filter: grayscale(100%);
}

#dots {
	position: absolute;
	right: 20px;
	top: 24px;
	z-index: 11;
	width: 144px;
	height: 30px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 100px;
	opacity: 0.9;
	font-family: $text-sans;
	font-size: 14px;
	padding-top: 6px;
	padding-left: 34px;
	color: #ddd;
	display: none;

	&.add-transition {
		display: block;
		transition: top 0.3s ease-in-out, right 0.3s ease-in-out;
	}

	#dots__label {
		transition: opacity 0.3s ease-in-out;
		span {
			color: #fff;
			font-weight: bold;
		}

	}

	#dot {
		position: absolute;
		left: 4px;
		top: 3px;
		border-radius: 100px;
		background-color: #fb0;
		height: 24px;
		width: 24px;
		transition: transform 0.15s ease-in-out;
	}
}

.button-explainer {
  	float: right;
  	height: 400px;
	font-size: 16px;
	line-height: 24px;
	max-width: 250px;
	color: #d1d1d1;
}

.arrow {
	position: absolute;
	top: 50%;
	background-color: rgba(0,0,0,0.3);
	fill: #fff;
	color: #fff;
	z-index: 15;
	display: none;

	svg {
		height: 20px;
		margin-bottom: -5px;
		width: 10px;
		padding: 6px 10px 6px 5px;
		box-sizing: initial;
	}

	&#arrow-left {
		right: 50%;
		border-radius: 12px 0 0 12px;

		svg {
			transform: rotate(180deg);
		}
	}

	&#arrow-right {
		left: 50%;
		border-radius: 0 12px 12px 0;
	}

	.arrow--text {
		display: inline;
		font-family: $text-sans;
		margin-top: 7px;
		font-size: 14px;

		&#arrow-left--text {
			float: left;
			padding-left: 10px;
			padding-right: 5px;
		}

		&#arrow-right--text {
			float: right;
			padding-left: 5px;
			padding-right: 10px;
		}
	}
}

.int-button-up {
	width: 50px;
	fill: #fff;
	display: inline-block;
	height: 50px;
	padding: 10px;
	background-color: rgba(51, 51, 51, 0.8);
	border-radius: 100px;
	margin-left: 10px;
	text-align: center;
	float: right;

	svg {
		width: 32px;
		height: 32px;
		margin-left: -1px;
		transition: transform 0.3s ease-in-out;

		.show-explainer & {
			transform: rotate(45deg);
		}
	}
}

.the-credits {
	color: #fff;
	font-family: $text-sans;
	font-size: 14px;
	max-width: 440px;
	line-height: 16px;
	padding: 12px 0;
}

#intro-area {
	padding: 0 20px 0 94px;
	margin: auto;
	font-size: 16px;
  	line-height: 22px;
	margin-top: 15%;
	transition: opacity 0.3s ease-in-out;

	h1 {
		display: block;
		font-size: 72px;
		line-height: 60px;
		opacity: 1;
		color: $c-highlight;
		font-weight: 300;
	}

	h2 {
		color: #fff;
		font-size: 18px;
		line-height: 28px;
		opacity: 1;
		max-width: 440px;
	}

	.share-buttons {
		opacity: 1;
	}

	.line {
		height: 1px;
		display: block;
		background-color: rgba(255,255,255,0.5);
		margin-bottom: 24px;
	}
}

.play-button {
	background-color: rgba(51, 51, 51, 0.8);
	width: 74px;
	height: 74px;
	border-radius: 100px;
	margin: auto;
	position: absolute;
	z-index: 9;
	display: none;

	#video-wrapper[started] & {
		left: 50% !important;
		top: 50% !important;
		margin-top: -37px;
		margin-left: -37px;

	}

	#video-wrapper[paused] & {
		display: block;
	}

	#video-wrapper[ended] & {
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiB3aWR0aD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTAgMGg0OHY0OEgweiIgZmlsbD0ibm9uZSIvPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yNCAxMFYyTDE0IDEybDEwIDEwdi04YzYuNjMgMCAxMiA1LjM3IDEyIDEycy01LjM3IDEyLTEyIDEyLTEyLTUuMzctMTItMTJIOGMwIDguODQgNy4xNiAxNiAxNiAxNnMxNi03LjE2IDE2LTE2LTcuMTYtMTYtMTYtMTZ6Ii8+PC9zdmc+);
		background-size: 70%;
		background-position: center center;
		background-repeat: no-repeat;

		span {
			&::after {
				content: initial;
			}
		}
	}

	span {
		&::after {
			content: '';
			font-size: 12px;
			position: absolute;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 1em 0 1em 2.4em;
			border-color: transparent transparent transparent #f1f1f1;
			-moz-transform: scale(0.99999);
			top: 50%;
			left: 50%;
			margin-top: -.9em;
			margin-left: -.9em;
		}
	}
}

.video-wrapper__content {
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;

	@include mq(tablet) {
		max-width: 740px;
	}

	@include mq(desktop) {
		max-width: 980px;
	}

	@include mq(leftCol) {
		max-width: 1140px;
	}

	@include mq(wide) {
		max-width: 1300px;
	}
}

.video-wrapper__scrubber {
	height: 3px;
	width: 100%;
	background-color: rgba(100,100,100,0.8);
	position: absolute;
	bottom: -10px;
	left: 0;
	z-index: 11;
	transition: height 0.4s ease-in, bottom 0.5s ease-in-out;;

	span {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		background-color: #f1f1f1;
		transition: width 0.4s linear;
	}

	#video-wrapper[active] & {
		height: 10px;
	}

	#video-wrapper[started] & {
		bottom: 0;
	}
}

.share-buttons {
	opacity: 0;
	padding-top: 12px;
	transition: opacity 0.3s ease-in-out;
	display: inline-block;

	.share-button {
		height: 30px;
		width: 30px;
		border-radius: 34px;
		display: inline-block;
		border: none;
		cursor: pointer;
		outline: none;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 28px;
		margin: 0;
		margin-right: 2px;
		background-color: rgba(255,255,255,0.25);
		transition: 200ms background-color;

		&:hover {
			background-color: rgba(255,255,255,0.45);
		}

		&.share-button--twitter {
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0yMS4zIDEwLjV2LjVjMCA0LjctMy41IDEwLjEtOS45IDEwLjEtMiAwLTMuOC0uNi01LjMtMS42LjMgMCAuNi4xLjguMSAxLjYgMCAzLjEtLjYgNC4zLTEuNS0xLjUgMC0yLjgtMS0zLjMtMi40LjIgMCAuNC4xLjcuMWwuOS0uMWMtMS42LS4zLTIuOC0xLjgtMi44LTMuNS41LjMgMSAuNCAxLjYuNC0uOS0uNi0xLjYtMS43LTEuNi0yLjkgMC0uNi4yLTEuMy41LTEuOCAxLjcgMi4xIDQuMyAzLjYgNy4yIDMuNy0uMS0uMy0uMS0uNS0uMS0uOCAwLTIgMS42LTMuNSAzLjUtMy41IDEgMCAxLjkuNCAyLjUgMS4xLjgtLjEgMS41LS40IDIuMi0uOC0uMy44LS44IDEuNS0xLjUgMS45LjctLjEgMS40LS4zIDItLjUtLjQuNC0xIDEtMS43IDEuNXoiLz48L3N2Zz4=);
		}

		&.share-button--facebook {
			background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iLTIgLTIgMzIgMzIiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Ik0xNy45IDE0aC0zdjhIMTJ2LThoLTJ2LTIuOWgyVjguN0MxMiA2LjggMTMuMSA1IDE2IDVjMS4yIDAgMiAuMSAyIC4xdjNoLTEuOGMtMSAwLTEuMi41LTEuMiAxLjN2MS44aDNsLS4xIDIuOHoiLz48L3N2Zz4=);
		}
	}
}

.int-vid-endslate {
	display: none;
	color: #fff;
	width: 100%;
	height: 100%;
	margin: auto;
	margin-top: 70px;

	h1 {
		font-size: 28px !important;
		color: $c-highlight !important;
		opacity: 1 !important;
	}

	ul {
		list-style: none;
		margin: 0;
		padding-top: 6px;

		li {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline; 
		}
	}

	@include mq(tablet) {
		width: 740px;
	}

	@include mq(desktop) {
		width: 980px;
	}

	@include mq(leftCol) {
		width: 1140px;
	}

	@include mq(wide) {
		width: 1300px;
	}

	#video-wrapper[ended] & {
		display: block;
	}
}